<div>
  <h1>Angular Material 3 Theming System: Complete Guide</h1>
  <button
    mat-icon-button
    class="theme-toggle"
    aria-label="Change theme"
    [matMenuTriggerFor]="themeMenu"
  >
    <mat-icon>{{
      (isDark$ | async) === true ? "dark_mode" : "light_mode"
    }}</mat-icon>
  </button>
  <app-color-picker class="color-picker"></app-color-picker>
  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="changeTheme('auto')">System</button>
    <button mat-menu-item (click)="changeTheme('light')">Light</button>
    <button mat-menu-item (click)="changeTheme('dark')">Dark</button>
  </mat-menu>
  <div class="demo-buttons">
    <button mat-button>Basic</button>
    <button mat-raised-button>Raised</button>
    <button mat-stroked-button>Stroked</button>
    <button mat-flat-button>Flat</button>
  </div>
  <div class="demo-buttons density-xs">
    <h3>Density scale: -2, applied through class <code>.density-xs</code></h3>
    <button mat-button>Basic</button>
    <button mat-raised-button>Raised</button>
    <button mat-stroked-button>Stroked</button>
    <button mat-flat-button>Flat</button>
  </div>
  <div>
    <h3>Changing typesclae values</h3>
    <mat-form-field>
      <mat-label>Flat Button Font Size</mat-label>
      <input
        type="number"
        matInput
        [defaultValue]="14"
        (change)="changeFlatButtonFontSize($event)"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Heading Font Size</mat-label>
      <input
        type="number"
        matInput
        [defaultValue]="'56.992'"
        (change)="changeHeadingFontSize($event)"
      />
    </mat-form-field>
  </div>

  <div>
    <h3>Applying Angular Material theme to custom components</h3>
    <app-alert></app-alert>
  </div>

  <div class="demo-buttons custom-theme">
    <h3>Custom theme: Rose Red</h3>
    <button mat-button>Basic</button>
    <button mat-raised-button>Raised</button>
    <button mat-stroked-button>Stroked</button>
    <button mat-flat-button>Flat</button>
  </div>

  <div class="demo-buttons">
    <h3>Custom shape</h3>
    <button mat-button class="button-rounded">Basic</button>
    <button mat-raised-button class="button-rounded">Raised</button>
    <button mat-stroked-button class="button-rounded">Stroked</button>
    <button mat-flat-button class="button-rounded">Flat</button>
  </div>

  <div class="demo-buttons overrides-example">
    <h3>Overrides Example</h3>
    <button mat-button class="button-rounded">Basic</button>
    <button mat-raised-button class="button-rounded">Raised</button>
    <button mat-stroked-button class="button-rounded">Stroked</button>
    <button mat-flat-button class="button-rounded">Flat</button>
  </div>

  <div class="demo-buttons">
    <h3>Buttons Color Variants</h3>
    <h4>Secondary</h4>
    <button mat-button class="mat-secondary">Basic</button>
    <button mat-raised-button class="mat-secondary">Raised</button>
    <button mat-stroked-button class="mat-secondary">Stroked</button>
    <button mat-flat-button class="mat-secondary">Flat</button>
  </div>

  <div class="demo-buttons">
    <h4>Tertiary</h4>
    <button mat-button class="mat-tertiary">Basic</button>
    <button mat-raised-button class="mat-tertiary">Raised</button>
    <button mat-stroked-button class="mat-tertiary">Stroked</button>
    <button mat-flat-button class="mat-tertiary">Flat</button>
  </div>
</div>
